.map-Cell {
  width: 5px;
  height: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-border);
  border-collapse: collapse;
}

.map-Cell-player {
  background-color: var(--color-primary);
}

.map-Cell-darkness {
  background-color: var(--color-darkness);
}

.map-Cell-ground {
  background-color: var(--color-ground);
}

.map-Cell-wall {
  background-color: var(--color-wall);
}

.map-Cell-enemy {
  background-color: var(--color-enemy);
}

.map-Cell-weapon {
  background-color: var(--color-weapon);
}

.map-Cell-medicine {
  background-color: var(--color-medicine);
}

.map-Cell-gate {
  background-color: var(--color-gate);
}

.map-Cell-default {
  background-color: white;
}