// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Colors
$color-primary: rgb(0,200,0);
$color-darkness: rgb(20,20,20);
$color-ground: rgb(50,50,50);
$color-wall: rgb(70,70,70);
$color-border: rgb(60,60,60);
$color-enemy: red;
$color-weapon: orange;
$color-medicine: rgb(50,150,255);
$color-gate: purple;
