.map-Cell {
  width: 5px;
  height: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #3c3c3c;
  border-collapse: collapse; }

.map-Cell-player {
  background-color: #00c800; }

.map-Cell-darkness {
  background-color: #141414; }

.map-Cell-ground {
  background-color: #323232; }

.map-Cell-wall {
  background-color: #464646; }

.map-Cell-enemy {
  background-color: red; }

.map-Cell-weapon {
  background-color: orange; }

.map-Cell-medicine {
  background-color: #3296ff; }

.map-Cell-gate {
  background-color: purple; }

.map-Cell-default {
  background-color: white; }
