@import '_theme.scss';

.Map-Cell {
  width: 5px;
  height: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-border;
  border-collapse: collapse;
}

.Map-Cell-player {
  background-color: $color-primary;
}

.Map-Cell-darkness {
  background-color: $color-darkness;
}

.Map-Cell-ground {
  background-color: $color-ground;
}

.Map-Cell-wall {
  background-color: $color-wall;
}

.Map-Cell-enemy {
  background-color: $color-enemy;
}

.Map-Cell-weapon {
  background-color: $color-weapon;
}

.Map-Cell-medicine {
  background-color: $color-medicine;
}

.Map-Cell-gate {
  background-color: $color-gate;
}

.Map-Cell-default {
  background-color: white;
}
