@font-face {
  font-family: 'Berkshire Swash';
  src: url("./fonts/BerkshireSwash-Regular.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.6rem;
  background-color: #141414; }
